---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { blogPostFields } from "../lib/contentful";
import Card from "../components/Card.astro";

const { items } = await contentfulClient.getEntries<blogPostFields>();
const posts = items.map((item) => {
  return {
    title: item.fields.title,
    date: new Date(item.fields.date).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "numeric",
    }),
    slug: item.fields.slug,
    description: item.fields.description,
  };
});
---

<Layout title="Welcome to Astro!">
  <h1>Welcome to Astro.</h1>
  <p>
    Learn more about Astro in the <a href="https://docs.astro.build">docs</a>.
  </p>
  <ul>
    {
      posts.map((post) => (
        <Card
          title={post.title}
          description={post.description}
          date={post.date}
          url={post.slug}
        />
      ))
    }
  </ul>
</Layout>
