---
export interface Props {
  title: string;
  description: string;
  url: string;
  date: string;
}

const { url, title, description, date } = Astro.props;
---

<li>
  <a href={`/posts/${url}/`}>
    <h2>
      {title}
    </h2>
  </a>
  <time>{date}</time>
  <p>
    {description}
  </p>
</li>
