---
export interface Props {
  title: string;
  description: string;
  slug: string;
  date: string;
}

const { slug, title, description, date } = Astro.props;
---

<li>
  <a href={`/posts/${slug}/`}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
  </a>
  <time>{date}</time>
  <p>
    {description}
  </p>
</li>
