---
export interface Props {
  title: string;
  description: string;
  url: string;
  date: string;
}

const { url, title, description, date } = Astro.props;
---

<div>
  <time class="block text-gray-500 text-sm">{date}</time>
  <a href={`/posts/${url}/`} class="block text-2xl no-underline">
    {title}
  </a>
  <p>
    {description}
  </p>
</div>
